.snackbar-success {
    background-color: #4caf50; /* Verde */
    color: #ffffff; /* Texto blanco */
  }
  
  .snackbar-error {
    background-color: #f44336; /* Rojo */
    color: #ffffff; /* Texto blanco */
  }
  