<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <form class="login-form">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput type="email" class="form-control" [(ngModel)]="userLoginRequestInterface.Email"
            [ngModelOptions]="{standalone: true}" id="UserName" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" class="form-control mb-3" [(ngModel)]="userLoginRequestInterface.Password"
            [ngModelOptions]="{standalone: true}" id="password" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button class=".button-blue-1" (click)="login()" class="btn-block">Entrar</button>
      <button mat-stroked-button class=".button-blue-3" (click)="changeToRegister()" class="btn-block">Registrar Nuevo
        Usuario</button>
    </form>
  </mat-card>
</div>