<div class="content">

    <div fxLayout="row" fxLayoutAlign="center center">
        <h2>Lista de Categorias</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <button mat-button class="button-blue-3" (click)="createProduct()">Create Product</button>
            <mat-table [dataSource]="categoriesList">

                <ng-container matColumnDef="categoryDate">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let category"> {{category.categoryDate}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="spot">
                    <mat-header-cell *matHeaderCellDef> Spot </mat-header-cell>
                    <mat-cell *matCellDef="let category"> {{category.spot}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let category"> {{category.description}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                    <mat-cell *matCellDef="let category"> {{category.price}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let category">
                        <button mat-button class="button-blue-1" (click)="updateProduct(category)">Update</button>
                        <button mat-button class="button-blue-2" (click)="deleteProduct(category)">Delete</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="['categoryDate', 'spot', 'description', 'price', 'actions']"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: ['categoryDate', 'spot', 'description', 'price', 'actions'];"></mat-row>


            </mat-table>
            <mat-paginator [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="[10, 25, 50, 100]"
                (page)="onPageChange($event)" [showFirstLastButtons]="true">
            </mat-paginator>


            <br />
        </div>
    </div>

</div>